<section class="section">
  <div class="container about">
    <ul class="about-me-accordion">
          <li class="about-me-item">
            <div class="about-me-icon">
              <h3 class="about-me-titel">About Me</h3>
              <svg class="icon-arrow">
                <use href="/img/sprite.svg#icon-small_arrow"></use>
              </svg>
            </div>
            <div class="about-me-flex-div">
              <p class="about-me-list-text about-me-mg">
                I am Lloyd Jefferson, a talented programmer with extensive expertise
                in software development. I have an understanding of different
                programming languages and technologies, always ready to improve my
                skills. I always follow the latest trends and look for
                unconventional, creative solutions to problems. I have a high level
                of analytical skills and am able to effectively solve even the most
                difficult tasks encountered on the way.
              </p>
              <p class="about-me-list-text">
                Able to work both independently and in a team. I can effectively
                cooperate with colleagues, exchanging ideas and finding optimal
                solutions. Professional maturity allows you to calmly cope with
                challenges and stressful situations, while maintaining a high
                quality of work. I am always looking for opportunities for
                self-improvement. I actively study new technologies and practices to
                stay abreast of the latest innovations. I have a strong
                understanding of various programming languages, frameworks and
                architectural concepts that allow me to create efficient and
                scalable software.
              </p>
            </div>
          </li>
          <li class="about-me-item">
            <div class="about-me-icon">
              <h3 class="about-me-titel">Role</h3>
              <svg class="icon-arrow">
                <use href="/img/sprite.svg#icon-small_arrow"></use>
              </svg>
            </div>
            <div class="about-me-flex-div">
              <p class="about-me-list-text">Frontend development</p>
              <p class="about-me-list-text">HeadlessCMS/WordPress</p>
              <p class="about-me-list-text">Blender-3D</p>
            </div>
          </li>
          <li class="about-me-item">
            <div class="about-me-icon">
              <h3 class="about-me-titel">Education</h3>
              <svg class="icon-arrow">
                <use href="/img/sprite.svg#icon-small_arrow"></use>
              </svg>
            </div>
            <div class="about-me-flex-div">
              <p class="about-me-list-text about-me-text-wrap-first">
                2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
              </p>
              <p class="about-me-list-text about-me-text-wrap">
                2019 - 2020 / Advanced Web Development Certification, GoIT IT
                School, New York
              </p>
              <p class="about-me-list-text about-me-text-wrap">
                2020 - 2021 / Advanced Blender Animation Techniques, Udemy
              </p>
            </div>
          </li>
    </ul>
      <div class="about-me-swiper-container">
        <div class="swiper about-me-swiper">
          <ul class="swiper-wrapper about-me-list-skils-set">
            <li class="swiper-slide about-me-item-skils active">HTML/CSS</li>
            <li class="swiper-slide about-me-item-skils">JavaScript</li>
            <li class="swiper-slide about-me-item-skils">React</li>
            <li class="swiper-slide about-me-item-skils">Node.js</li>
            <li class="swiper-slide about-me-item-skils">React Native</li>
            <li class="swiper-slide about-me-item-skils">Soft skills</li>
            <li class="swiper-slide about-me-item-skils">Python</li>
            <li class="swiper-slide about-me-item-skils">Redux.js</li> 
          </ul>

          <svg class="swiper-button-next about-me-swiper-btn-nxt" width="28" height="28">
            <use href="/img/sprite.svg#icon-arrow"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>

