<section class="covers-section">
  <div class="covers-container">
    <h2 class="visually-hidden">Covers</h2>
    <div class="content">
      <div class="marquee">
        <ul class="covers-list first-row">
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-1.webp"
              srcset="img/img-covers-1.webp 1x, img/img-covers-1.webp 2x"
              alt="Cover 1"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-2.webp"
              srcset="img/img-covers-2.webp 1x, img/img-covers-2.webp 2x"
              alt="Cover 2"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-3.webp"
              srcset="img/img-covers-3.webp 1x, img/img-covers-3.webp 2x"
              alt="Cover 3"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-4.webp"
              srcset="img/img-covers-4.webp 1x, img/img-covers-4.webp 2x"
              alt="Cover 4"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-5.webp"
              srcset="img/img-covers-5.webp 1x, img/img-covers-5.webp 2x"
              alt="Cover 5"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-6.webp"
              srcset="img/img-covers-6.webp 1x, img/img-covers-6.webp 2x"
              alt="Cover 6"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-7.webp"
              srcset="img/img-covers-7.webp 1x, img/img-covers-7.webp 2x"
              alt="Cover 7"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-8.webp"
              srcset="img/img-covers-8.webp 1x, img/img-covers-8.webp 2x"
              alt="Cover 8"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-9.webp"
              srcset="img/img-covers-9.webp 1x, img/img-covers-9.webp 2x"
              alt="Cover 9"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-10.webp"
              srcset="img/img-covers-10.webp 1x, img/img-covers-10.webp 2x"
              alt="Cover 10"
            />
          </li>
        </ul>
        <ul class="covers-list second-row">
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-10.webp"
              srcset="img/img-covers-10.webp 1x, img/img-covers-10.webp 2x"
              alt="Cover 10"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-9.webp"
              srcset="img/img-covers-9.webp 1x, img/img-covers-9.webp 2x"
              alt="Cover 9"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-8.webp"
              srcset="img/img-covers-8.webp 1x, img/img-covers-8.webp 2x"
              alt="Cover 8"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-7.webp"
              srcset="img/img-covers-7.webp 1x, img/img-covers-7.webp 2x"
              alt="Cover 7"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-6.webp"
              srcset="img/img-covers-6.webp 1x, img/img-covers-6.webp 2x"
              alt="Cover 6"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-5.webp"
              srcset="img/img-covers-5.webp 1x, img/img-covers-5.webp 2x"
              alt="Cover 5"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-4.webp"
              srcset="img/img-covers-4.webp 1x, img/img-covers-4.webp 2x"
              alt="Cover 4"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-3.webp"
              srcset="img/img-covers-3.webp 1x, img/img-covers-3.webp 2x"
              alt="Cover 3"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-2.webp"
              srcset="img/img-covers-2.webp 1x, img/img-covers-2.webp 2x"
              alt="Cover 2"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-1.webp"
              srcset="img/img-covers-1.webp 1x, img/img-covers-1.webp 2x"
              alt="Cover 1"
            />
          </li>
        </ul>
        <ul class="covers-list third-row">
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-1.webp"
              srcset="img/img-covers-1.webp 1x, img/img-covers-1.webp 2x"
              alt="Cover 1"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-2.webp"
              srcset="img/img-covers-2.webp 1x, img/img-covers-2.webp 2x"
              alt="Cover 2"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-3.webp"
              srcset="img/img-covers-3.webp 1x, img/img-covers-3.webp 2x"
              alt="Cover 3"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-4.webp"
              srcset="img/img-covers-4.webp 1x, img/img-covers-4.webp 2x"
              alt="Cover 4"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-5.webp"
              srcset="img/img-covers-5.webp 1x, img/img-covers-5.webp 2x"
              alt="Cover 5"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-6.webp"
              srcset="img/img-covers-6.webp 1x, img/img-covers-6.webp 2x"
              alt="Cover 6"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-7.webp"
              srcset="img/img-covers-7.webp 1x, img/img-covers-7.webp 2x"
              alt="Cover 7"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-8.webp"
              srcset="img/img-covers-8.webp 1x, img/img-covers-8.webp 2x"
              alt="Cover 8"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-9.webp"
              srcset="img/img-covers-9.webp 1x, img/img-covers-9.webp 2x"
              alt="Cover 9"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-10.webp"
              srcset="img/img-covers-10.webp 1x, img/img-covers-10.webp 2x"
              alt="Cover 10"
            />
          </li>
        </ul>
        <ul class="covers-list fourth-row">
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-10.webp"
              srcset="img/img-covers-10.webp 1x, img/img-covers-10.webp 2x"
              alt="Cover 10"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-9.webp"
              srcset="img/img-covers-9.webp 1x, img/img-covers-9.webp 2x"
              alt="Cover 9"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-8.webp"
              srcset="img/img-covers-8.webp 1x, img/img-covers-8.webp 2x"
              alt="Cover 8"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-7.webp"
              srcset="img/img-covers-7.webp 1x, img/img-covers-7.webp 2x"
              alt="Cover 7"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-6.webp"
              srcset="img/img-covers-6.webp 1x, img/img-covers-6.webp 2x"
              alt="Cover 6"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-5.webp"
              srcset="img/img-covers-5.webp 1x, img/img-covers-5.webp 2x"
              alt="Cover 5"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-4.webp"
              srcset="img/img-covers-4.webp 1x, img/img-covers-4.webp 2x"
              alt="Cover 4"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-3.webp"
              srcset="img/img-covers-3.webp 1x, img/img-covers-3.webp 2x"
              alt="Cover 3"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-2.webp"
              srcset="img/img-covers-2.webp 1x, img/img-covers-2.webp 2x"
              alt="Cover 2"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-1.webp"
              srcset="img/img-covers-1.webp 1x, img/img-covers-1.webp 2x"
              alt="Cover 1"
            />
          </li>
        </ul>
        <ul class="covers-list fifth-row">
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-1.webp"
              srcset="img/img-covers-1.webp 1x, img/img-covers-1.webp 2x"
              alt="Cover 1"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-2.webp"
              srcset="img/img-covers-2.webp 1x, img/img-covers-2.webp 2x"
              alt="Cover 2"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-3.webp"
              srcset="img/img-covers-3.webp 1x, img/img-covers-3.webp 2x"
              alt="Cover 3"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-4.webp"
              srcset="img/img-covers-4.webp 1x, img/img-covers-4.webp 2x"
              alt="Cover 4"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-5.webp"
              srcset="img/img-covers-5.webp 1x, img/img-covers-5.webp 2x"
              alt="Cover 5"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-6.webp"
              srcset="img/img-covers-6.webp 1x, img/img-covers-6.webp 2x"
              alt="Cover 6"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-7.webp"
              srcset="img/img-covers-7.webp 1x, img/img-covers-7.webp 2x"
              alt="Cover 7"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-8.webp"
              srcset="img/img-covers-8.webp 1x, img/img-covers-8.webp 2x"
              alt="Cover 8"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-9.webp"
              srcset="img/img-covers-9.webp 1x, img/img-covers-9.webp 2x"
              alt="Cover 9"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-10.webp"
              srcset="img/img-covers-10.webp 1x, img/img-covers-10.webp 2x"
              alt="Cover 10"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
