
<section class="covers-section" id="covers">
    <div class="container">
      <div class="cover">
  <h2 class="visually-hidden">Our covers</h2>
    <div class="content first-row">
      <div class="marquee-wrapper">
        <ul class="covers-list">
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-1.webp"
              srcset="img/img-covers-1.webp 1x, img/img-covers-1.webp 2x"
              alt="Cover 1"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-2.webp"
              srcset="img/img-covers-2.webp 1x, img/img-covers-2.webp 2x"
              alt="Cover 2"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-3.webp"
              srcset="img/img-covers-3.webp 1x, img/img-covers-3.webp 2x"
              alt="Cover 3"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-4.webp"
              srcset="img/img-covers-4.webp 1x, img/img-covers-4.webp 2x"
              alt="Cover 4"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-5.webp"
              srcset="img/img-covers-5.webp 1x, img/img-covers-5.webp 2x"
              alt="Cover 5"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-6.webp"
              srcset="img/img-covers-6.webp 1x, img/img-covers-6.webp 2x"
              alt="Cover 6"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-7.webp"
              srcset="img/img-covers-7.webp 1x, img/img-covers-7.webp 2x"
              alt="Cover 7"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-8.webp"
              srcset="img/img-covers-8.webp 1x, img/img-covers-8.webp 2x"
              alt="Cover 8"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-9.webp"
              srcset="img/img-covers-9.webp 1x, img/img-covers-9.webp 2x"
              alt="Cover 9"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-10.webp"
              srcset="img/img-covers-10.webp 1x, img/img-covers-10.webp 2x"
              alt="Cover 10"
            />
          </li>
        </ul>
      </div>
    </div>

    <div class="content top-row">
      <div class="marquee-wrapper">
        <ul class="covers-list">
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-1.webp"
              srcset="img/img-covers-1.webp 1x, img/img-covers-1.webp 2x"
              alt="Cover 1"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-2.webp"
              srcset="img/img-covers-2.webp 1x, img/img-covers-2.webp 2x"
              alt="Cover 2"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-3.webp"
              srcset="img/img-covers-3.webp 1x, img/img-covers-3.webp 2x"
              alt="Cover 3"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-4.webp"
              srcset="img/img-covers-4.webp 1x, img/img-covers-4.webp 2x"
              alt="Cover 4"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-5.webp"
              srcset="img/img-covers-5.webp 1x, img/img-covers-5.webp 2x"
              alt="Cover 5"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-6.webp"
              srcset="img/img-covers-6.webp 1x, img/img-covers-6.webp 2x"
              alt="Cover 6"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-7.webp"
              srcset="img/img-covers-7.webp 1x, img/img-covers-7.webp 2x"
              alt="Cover 7"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-8.webp"
              srcset="img/img-covers-8.webp 1x, img/img-covers-8.webp 2x"
              alt="Cover 8"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-9.webp"
              srcset="img/img-covers-9.webp 1x, img/img-covers-9.webp 2x"
              alt="Cover 9"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-10.webp"
              srcset="img/img-covers-10.webp 1x, img/img-covers-10.webp 2x"
              alt="Cover 10"
            />
          </li>
        </ul>
      </div>
    </div>

    <div class="content middle-row">
      <div class="marquee-wrapper">
        <ul class="covers-list">
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-10.webp"
              srcset="img/img-covers-10.webp 1x, img/img-covers-10.webp 2x"
              alt="Cover 10"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-9.webp"
              srcset="img/img-covers-9.webp 1x, img/img-covers-9.webp 2x"
              alt="Cover 9"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-8.webp"
              srcset="img/img-covers-8.webp 1x, img/img-covers-8.webp 2x"
              alt="Cover 8"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-7.webp"
              srcset="img/img-covers-7.webp 1x, img/img-covers-7.webp 2x"
              alt="Cover 7"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-6.webp"
              srcset="img/img-covers-6.webp 1x, img/img-covers-6.webp 2x"
              alt="Cover 6"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-5.webp"
              srcset="img/img-covers-5.webp 1x, img/img-covers-5.webp 2x"
              alt="Cover 5"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-4.webp"
              srcset="img/img-covers-4.webp 1x, img/img-covers-4.webp 2x"
              alt="Cover 4"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-3.webp"
              srcset="img/img-covers-3.webp 1x, img/img-covers-3.webp 2x"
              alt="Cover 3"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-2.webp"
              srcset="img/img-covers-2.webp 1x, img/img-covers-2.webp 2x"
              alt="Cover 2"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-1.webp"
              srcset="img/img-covers-1.webp 1x, img/img-covers-1.webp 2x"
              alt="Cover 1"
            />
          </li>
        </ul>
      </div>
    </div>

    <div class="content bottom-row">
      <div class="marquee-wrapper">
        <ul class="covers-list">
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-1.webp"
              srcset="img/img-covers-1.webp 1x, img/img-covers-1.webp 2x"
              alt="Cover 1"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-2.webp"
              srcset="img/img-covers-2.webp 1x, img/img-covers-2.webp 2x"
              alt="Cover 2"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-3.webp"
              srcset="img/img-covers-3.webp 1x, img/img-covers-3.webp 2x"
              alt="Cover 3"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-4.webp"
              srcset="img/img-covers-4.webp 1x, img/img-covers-4.webp 2x"
              alt="Cover 4"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-5.webp"
              srcset="img/img-covers-5.webp 1x, img/img-covers-5.webp 2x"
              alt="Cover 5"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-6.webp"
              srcset="img/img-covers-6.webp 1x, img/img-covers-6.webp 2x"
              alt="Cover 6"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-7.webp"
              srcset="img/img-covers-7.webp 1x, img/img-covers-7.webp 2x"
              alt="Cover 7"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-8.webp"
              srcset="img/img-covers-8.webp 1x, img/img-covers-8.webp 2x"
              alt="Cover 8"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-9.webp"
              srcset="img/img-covers-9.webp 1x, img/img-covers-9.webp 2x"
              alt="Cover 9"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-10.webp"
              srcset="img/img-covers-10.webp 1x, img/img-covers-10.webp 2x"
              alt="Cover 10"
            />
          </li>
        </ul>
      </div>
    </div>

    <div class="content fifth-row">
      <div class="marquee-wrapper">
        <ul class="covers-list">
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-10.webp"
              srcset="img/img-covers-10.webp 1x, img/img-covers-10.webp 2x"
              alt="Cover 10"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-9.webp"
              srcset="img/img-covers-9.webp 1x, img/img-covers-9.webp 2x"
              alt="Cover 9"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-8.webp"
              srcset="img/img-covers-8.webp 1x, img/img-covers-8.webp 2x"
              alt="Cover 8"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-7.webp"
              srcset="img/img-covers-7.webp 1x, img/img-covers-7.webp 2x"
              alt="Cover 7"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-6.webp"
              srcset="img/img-covers-6.webp 1x, img/img-covers-6.webp 2x"
              alt="Cover 6"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-5.webp"
              srcset="img/img-covers-5.webp 1x, img/img-covers-5.webp 2x"
              alt="Cover 5"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-4.webp"
              srcset="img/img-covers-4.webp 1x, img/img-covers-4.webp 2x"
              alt="Cover 4"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-3.webp"
              srcset="img/img-covers-3.webp 1x, img/img-covers-3.webp 2x"
              alt="Cover 3"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-2.webp"
              srcset="img/img-covers-2.webp 1x, img/img-covers-2.webp 2x"
              alt="Cover 2"
            />
          </li>
          <li class="covers-item">
            <img
              class="covers-img"
              src="img/img-covers-1.webp"
              srcset="img/img-covers-1.webp 1x, img/img-covers-1.webp 2x"
              alt="Cover 1"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
      </div>
</section>
