<header class="header" id="header">
    <div class="header-container container">
        <a class="header-logo" href="index.html">
            <picture>
                <source srcset="img/img-icon@1x.webp 1x,
                                img/img-icon@2x.webp 2x"/>
                <img src="img/img-icon@1x.webp" alt="me" />
            </picture>
            <svg class="icon-jefferson" width="84" height="19">
                <use href="img/sprite.svg#icon-jefferson"></use>
            </svg>
        </a>

        <nav class="header-navigation">
            <button class="menu-btn" type="button">Menu</button>
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="#about-me">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#benefits">Benefits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#faq">FAQ</a>
                </li>
            </ul>
        </nav>

        <a class="order-nav" href="#work-together">Order the project</a>

        <button class="burger-btn" type="button">
            <svg class="burger-icon" width="28" height="28">
                <use href="img/sprite.svg#icon-burger"></use>
            </svg>
        </button>
    </div>
</header>

<div class="mobile-menu-overlay">
    <div class="mobile-menu">
        <div class="mobile-menu-container">
            <button class="mobile-close-btn" type="button">
                <svg class="modal-close-icon" width="28" height="28">
                    <use href="img/sprite.svg#icon-close"></use>
                </svg>
            </button>

            <nav class="mobile-navigation">
                <ul class="mobile-nav-list">
                    <li class="mobile-nav-item">
                        <a class="mobile-navigation-link" href="#about-me">About me</a>
                    </li>
                    <li class="mobile-nav-item">
                        <a class="mobile-navigation-link" href="#benefits">Benefits</a>
                    </li>
                    <li class="mobile-nav-item">
                        <a class="mobile-navigation-link" href="#projects">Projects</a>
                    </li>
                    <li class="mobile-nav-item">
                        <a class="mobile-navigation-link" href="#faq">FAQ</a>
                    </li>
                </ul>
            </nav>

            <a class="order-nav-mobile" href="#work-together">Order the project</a>
        </div>
    </div>
</div>