<section class="hero-container container">
       <div class="hero-content ">
        <h1 class="hero-title"> HELLO.<br>I’M FULLSTACK DEVELOPER<br>LLOYD JEFFERSON.</h1>
        <div class="hero-footer ">
            <ul class="social-links">
                <li class="social-item"><a href="https://www.instagram.com/goitclub/" target="_blank">IG</a></li>
                <li class="social-item"><a href="https://www.facebook.com/goITclub/" target="_blank">FB</a></li>
                <li class="social-item"><a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a></li>
                <li class="social-item"><a href="https://github.com/YOUR_PROJECT_LINK" target="_blank">GH</a></li>
            </ul>
            <a href="mailto:lloydjefferson@gmail.com" class="email-link">lloydjefferson@gmail.com</a>
        </div>
    </div>
    </section>
