<section class="hero-container">
       <div class="hero-content container">
        <h1 class="hero-title"> Hello.<br>I'm fullstack developer<br>Lloyd Jefferson.</h1>
        <div class="hero-footer ">
            <ul class="social-links">
                <li class="social-item"><a href="https://www.instagram.com/goitclub/"  class="social-item" target="_blank" rel="noopener nofollow noreferrer">IG</a></li>
                <li class="social-item"><a href="https://www.facebook.com/goITclub/" class="social-item" target="_blank" rel="noopener nofollow noreferrer">FB</a></li>
                <li class="social-item"><a href="https://www.youtube.com/c/GoIT" class="social-item" target="_blank" rel="noopener nofollow noreferrer">YT</a></li>
                <li class="social-item"><a href="https://github.com/YOUR_PROJECT_LINK" class="social-item" target="_blank" rel="noopener nofollow noreferrer">GH</a></li>
            </ul>
            <a href="mailto:lloydjefferson@gmail.com" class="email-link" rel="noopener nofollow noreferrer">lloydjefferson@gmail.com</a>
        </div>
    </div>
    </section>
