<section class="projects-section" id="projects">
  <div class="container">
    <h2 class="tittle">Projects</h2>

    <div class="swiper-container">
      <ul class="swiper-wrapper">
        <!--ПЕРШИЙ СЛАЙД-->
        <li class="swiper-slide first">
          <div class="first-part">
            <ul class="scils">
              <li class="scils-list">#react</li>
              <li class="scils-list">#js</li>
              <li class="scils-list">#node js</li>
              <li class="scils-list">#git</li>
            </ul>
            <p class="sumb-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a class="a-project" href="#" target="_blank" rel="noopener nofollow noreferrer">
              <p class="a-text">See project</p>
            </a>
          </div>
            <div class="img-sumb">
              <picture>
                <source srcset="img/img-1-mob@1x.webp 1x,
                                img/img-1-mob@2x.webp 2x" media="(max-width: 767px)" />
                <source srcset="img/img-1-tab@1x.webp 1x,
                                img/img-1-tab@2x.webp 2x"
                  media="(min-width: 768px)" />
                <img src="img/img-1-mob@1x" alt="registration"/>
              </picture>
            </div>
        </li>
        <!--ДРУГИЙ СЛАЙД-->
        <li class="swiper-slide second">
          <div class="first-part">
            <ul class="scils">
              <li class="scils-list">#react</li>
              <li class="scils-list">#js</li>
              <li class="scils-list">#node js</li>
              <li class="scils-list">#git</li>
            </ul>
            <p class="sumb-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a class="a-project" href="#" target="_blank" rel="noopener nofollow noreferrer">
              <p class="a-text">See project</p>
            </a>
          </div>
          <div class="img-sumb">
            <picture>
              <source srcset="img/img-2-mob@1x.webp 1x,
                              img/img-2-mob@2x.webp 2x" media="(max-width: 767px)" />
              <source srcset="img/img-2-tab@1x.webp 1x,
                              img/img-2-tab@2x.webp 2x" media="(min-width: 768px)" />
              <img src="img/img-2-mob@1x" alt="dog"/>
            </picture>
          </div>
        </li>
        <!--ТРЕТІЙ СЛАЙД-->
        <li class="swiper-slide last">
          <div class="first-part">
            <ul class="scils">
              <li class="scils-list">#react</li>
              <li class="scils-list">#js</li>
              <li class="scils-list">#node js</li>
              <li class="scils-list">#git</li>
            </ul>
            <p class="sumb-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a class="a-project" href="#" target="_blank" rel="noopener nofollow noreferrer">
              <p class="a-text">See project</p>
            </a>
          </div>
          <div class="img-sumb">
            <picture>
              <source srcset="img/img-3-mob@1x.webp 1x,
                              img/img-3-mob@2x.webp 2x" media="(max-width: 767px)" />
              <source srcset="img/img-3-tab@1x.webp 1x,
                              img/img-3-tab@2x.webp 2x" media="(min-width: 768px)" />
              <img src="img/img-3-mob@1x" alt="register"/>
            </picture>
          </div>
        </li>
      </ul>
    </div>
    <!--КШРЕЦЬ ТРЕТЬОГО СЛАЙДА-->

    <div class="slider-controls">
      <button class="prev" aria-label="Previous slide">
        <svg class="icon-left" width="24" height="24">
          <use href="img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="next" aria-label="Next slide">
        <svg class="icon-right" width="24" height="24">
          <use href="img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

