<section class="projects-section">
  <div class="container">
    <h2 class="tittle">Projects</h2>

    <div class="swiper-container">
      <ul class="swiper-wrapper">
        <!--ПЕРШИЙ СЛАЙД-->
        <div class="swiper-slide first">
          <div class="first-part">
            <ul class="scils">
              <li class="scils-list">#react</li>
              <li class="scils-list">#js</li>
              <li class="scils-list">#node js</li>
              <li class="scils-list">#git</li>
            </ul>
            <p class="sumb-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a class="a-project" href="#" target="_blank">
              <p class="a-text">See project</p>
            </a>
          </div>
            <div class="img-sumb">
              <img class="img-swipe" src="../img/img-1-projects-mob.webp" alt="#" width="311" height="195" />
            </div>
        </div>
        <!--ДРУГИЙ СЛАЙД-->
        <li class="swiper-slide second">
          <ul class="scils">
            <li class="scils-list-react">
              <svg class="react"><use href="#"></use></svg>
            </li>
            <li class="scils-list-js">
              <svg class="js"><use href="#"></use></svg>
            </li>
            <li class="scils-list-node">
              <svg class="node"><use href="#"></use></svg>
            </li>
            <li class="scils-list-git">
              <svg class="git"><use href="#"></use></svg>
            </li>
          </ul>
          <p class="sumb-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>
          <a class="a-project" href="#" target="_blank"
            ><p class="a-text">See project</p></a
          >
          <div class="img-sumb">
            <img
              class="img-swipe"
              src="../img/img-2-projects-mob.webp"
              alt="#"
              width="311"
              height="195"
            />
          </div>
        </li>
        <!--ТРЕТІЙ СЛАЙД-->
        <li class="swiper-slide last">
          <ul class="scils">
            <li class="scils-list-react">
              <svg class="react"><use href="#"></use></svg>
            </li>
            <li class="scils-list-js">
              <svg class="js"><use href="#"></use></svg>
            </li>
            <li class="scils-list-node">
              <svg class="node"><use href="#"></use></svg>
            </li>
            <li class="scils-list-git">
              <svg class="git"><use href="#"></use></svg>
            </li>
          </ul>
          <p class="sumb-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>
          <a class="a-project" href="#" target="_blank"
            ><p class="a-text">See project</p></a
          >
          <div class="img-sumb">
            <img
              class="img-swipe"
              src="../img/img-3-projects-mob.webp"
              alt="#"
              width="311"
              height="195"
            />
          </div>
        </li>
      </ul>
    </div>
    <!--КШРЕЦЬ ТРЕТЬОГО СЛАЙДА-->

    <div class="slider-controls">
      <button class="prev" aria-label="Previous slide">
        <svg class="svg-right" width="" height="">
          <use href="../img/sprite.svg#icon-small_arrow"></use>
        </svg>
      </button>
      <button class="next" aria-label="Next slide">
        <svg class="svg-left" width="" height="">
          <use href="../img/sprite.svg#icon-small_arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="scripts.js"></script>
