<section class="connect section" id="work-together">
  <picture class="connect__picture">
    <!-- Desktop -->
    <source
      media="(min-width: 1000px)"
      srcset="./img/element_desk@1.png 1x, ./img/element_desk@2.png 2x"
    />
    <!-- Tablet -->
    <source
      media="(min-width: 768px)"
      srcset="./img/element_tab@1.png 1x, ./img/element_tab@2.png 2x"
    />
    <!-- Mobile (default) -->
    <img
      class="connect__background"
      src="img/element_mob@1.png"
      srcset="./img/element_mob@2.png 2x"
      alt="background"
      aria-hidden="true"
    />
  </picture>
  <div class="connect__container container">
    <h2 class="connect__title">
      <img
        class="connect__icon"
        src="./img/img-icon.webp"
        alt=""
        width="44"
        height="44"
      />
      Let’s &nbsp;<span class="connect__highlight">work</span> together
    </h2>

    <form class="connect__form js-form" novalidate>
      <div class="connect__input-wrapper">
        <input
          class="connect__input js-email"
          type="email"
          name="email"
          id="email"
          placeholder="your.email@example.com"
          aria-label="Email address"
        />
        <label for="email" class="connect__label">Email</label>
        <span class="connect__underline"></span>
        <span class="connect__error js-email-error"></span>
      </div>

      <div class="connect__input-wrapper">
        <input
          class="connect__input js-comment"
          type="text"
          name="comment"
          id="comment"
          placeholder=""
          aria-label="Your comment"
          required
        />
        <label for="comment" class="connect__label">Message</label>
        <span class="connect__underline"></span>
        <span class="connect__error js-comment-error"></span>
      </div>
      <button class="connect__button" type="submit">Send</button>
    </form>

    <div class="connect__links">
      <a class="connect__link" href="mailto:lloydjefferson@gmail.com"
        >lloydjefferson@gmail.com</a
      >
      <a class="connect__link" href="tel:+3801111111111">+380 11 1111 11 11</a>
    </div>
  </div>
</section>
