<section class="connect section__common" id="work-together" data-aos="fade-up">
  <div class="connect__container container">
    <div class="cont">
    <h2 class="connect__title" data-aos="fade-up" data-aos-delay="100">
      <img
        class="connect__icon"
        src="./img/img-icon.webp"
        alt=""
        width="44"
        height="44"
      />
      Let’s &nbsp;<span class="connect__highlight">work</span> together
    </h2>

    <form
      class="connect__form js-form"
      novalidate
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div
        class="connect__input-wrapper"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <input
          class="connect__input js-email"
          type="email"
          name="email"
          id="email"
          placeholder="your.email@example.com"
          aria-label="Email address"
        />
        <label for="email" class="connect__label">Email:</label>
        <span class="connect__underline"></span>
        <span class="connect__error js-email-error"></span>
      </div>

      <div
        class="connect__input-wrapper"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <input
          class="connect__input js-comment"
          type="text"
          name="comment"
          id="comment"
          placeholder=""
          aria-label="Your comment"
          required
        />
        <label for="comment" class="connect__label">Message:</label>
        <span class="connect__underline"></span>
        <span class="connect__error js-comment-error"></span>
      </div>

      <div
        class="connect__button-wrapper"
        data-aos="fade-up"
        data-aos-delay="500"
      >
        <button class="connect__button" type="submit">Send</button>
      </div>
    </form>

    <div class="connect__links" data-aos="fade-up" data-aos-delay="600">
      <a class="connect__link" href="mailto:lloydjefferson@gmail.com"
        >lloydjefferson@gmail.com</a
      >
      <a class="connect__link" href="tel:+3801111111111">+380 11 1111 11 11</a>
    </div>
    </div>
  </div>
</section>
