<section class="section">
  <div class="container work-together">
    <h2 class="work-together-title">
      <img
        class="work-together-image"
        src="../img/img-icon.webp"
        alt=""
        width="44"
        height="44"
      />
      Let’s&nbsp;<span class="highlight">work</span>
      together
    </h2>
    <form class="work-together-form js-form" action="">
      <input
        class="work-together-input"
        type="email"
        name="email"
        placeholder="clients@gmail.com"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
      />
      <input
        class="work-together-input"
        type="text"
        name="comment"
        placeholder="Comments"
      />
      <button class="work-together-button" type="submit">Send</button>
    </form>
    <div class="work-together-links-box">
      <a class="work-together-link" href="mailto:lloydjefferson@gmail.com"
        >lloydjefferson@gmail.com</a
      >
      <a class="work-together-link" href="tel:+3801111111111"
        >+380 11 1111 11 11</a
      >
    </div>
    <div class="modal js-modal">
      <div class="modal-content js-modal-content">
        <button type="button" class="close js-button-modal-close">
          <svg class="modal-svg" width="22" height="22">
            <use href="../img/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <p class="modal-title">Thank you for your interest in cooperation!</p>
        <p class="modal-text">
          The manager will contact you shortly to discuss further details and
          opportunities for cooperation. Please stay in touch.
        </p>
      </div>
    </div>
  </div>
</section>
