:root {
  /* font-family: Iner Tight, sans-serif; */
  font-family: 'Inter Tight', sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;

  color: #fafafa;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #1c1d20;
  margin: 0;
}

body.no-scroll {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

html {
  scroll-behavior: smooth;
}
