/* Covers */

.covers-container {
  padding: 0;
}

.covers-section {
  margin: 0 auto;
  padding-top: 64px;
  width: 100%;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.content {
  position: relative;
  background-image: url(../img/elements.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.marquee {
  overflow: visible;
  transform: rotate(16deg);
}

.covers-list {
  width: max-content;
  height: 163px;
  display: flex;
  margin-bottom: 20px;
  will-change: transform;
  animation: scrollLeft 40s linear infinite;
  animation-play-state: paused;
}

.covers-item {
  flex-shrink: 0;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 283px;
  height: 100%;
}

.covers-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.covers-list {
  animation-name: scrollLeft;
}

.covers-list.animate {
  animation-play-state: running;
}

.first-row {
  margin-top: -240px;
}

.fifth-row {
  margin-bottom: -160px;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
  .covers-section {
    padding-top: 96px;
  }
  .covers-item {
    width: 544px;
  }

  .covers-list {
    height: 314px;
    margin-bottom: 40px;
  }

  .first-row {
    margin-top: -450px;
  }

  .fifth-row {
    margin-bottom: -300px;
  }
}

/* Desktop screen */
@media screen and (min-width: 1440px) {
  .covers-section {
    padding-top: 100px;
  }
  .first-row {
    margin-top: -450px;
  }

  .fifth-row {
    margin-bottom: -410px;
  }

  .covers-list:hover {
    animation-play-state: paused;
    cursor: pointer;
  }

  .covers-item:hover .covers-img {
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(106, 107, 107, 0.836);
  }

  .covers-list {
    margin-left: -100px;
  }
}
