/* Covers */

.covers-section {
  background-image: url(../img/elements.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.content {
  margin-bottom: 20px;
}

.marquee-wrapper {
  margin-left: -100px;
  transform: rotate(16deg);
}

.covers-list {
  display: flex;
  gap: 15px;
  width: max-content;
  animation: scrollLeft 60s linear infinite;
  animation-play-state: paused;
}

.covers-list.animate {
  animation-play-state: running;
}

.covers-item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 283px;
  height: 163px;
}

.covers-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.top-row .covers-list,
.bottom-row .covers-list,
.middle-row .covers-list {
  animation-name: scrollLeft;
}

.first-row {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.first-row .marquee-wrapper {
  transform: rotate(16deg) translateY(120px);
}

.top-row {
  margin-bottom: -95px;
}

.top-row .marquee-wrapper {
  transform: rotate(16deg) translateY(-120px);
}

.fifth-row {
  position: absolute;

  z-index: 1;
}

.fifth-row .marquee-wrapper {
  width: 371px;
  transform: rotate(16deg) translateY(-8px);
}

.fifth-row {
  margin-bottom: 0;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
  .covers-item {
    width: 544px;
    height: 314px;
  }

  .content {
    margin-bottom: 50px;
  }

  .covers-list {
    gap: 30px;
  }

  .middle-row {
    margin-top: -225px;
  }

  .top-row .marquee-wrapper {
    transform: rotate(16deg) translateY(-215px);
  }

  .fifth-row {
    margin-top: -40px;
  }

  .fifth-row .marquee-wrapper {
    width: 135px;
    transform: rotate(16deg) translateY(-40px);
  }
}

@media screen and (min-width: 1440px) {
  .covers-list:hover {
    animation-play-state: paused;
    cursor: pointer;
  }

  .covers-item:hover .covers-img {
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(106, 107, 107, 0.836);
  }

  .first-row {
    height: 15px;
    width: 100%;
  }

  .first-row .marquee-wrapper {
    transform: rotate(16deg) translateX(400px) translateY(-450px);
  }

  .top-row {
    margin-top: -145px;
  }

  .fifth-row {
    height: 135px;
  }

  .fifth-row .marquee-wrapper {
    width: 464px;
    transform: rotate(16deg) translateY(-100px);
  }
}
