/* Mobile */
.faq-list.accordion-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
.faq-item.ac.js-enabled {
    background-color: transparent;
    border-top: 1px solid rgba(250, 250, 250, 0.2);
    border-bottom: none;
    border-left: none;
    border-right: none;
}
button.btn-answer.ac-trigger {
    padding: 7px;
    background: none;
        border: 1px solid rgba(250, 250, 250, 0.2);
        width: 34px;
        height: 34px;
        content: none;
        border-radius: 50%;
        background-color: transparent;
        padding: 0;
        margin-left: auto;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
}
button.btn-answer.ac-trigger::after {
    content: none;
}
button.btn-answer.ac-trigger:hover,
button.btn-answer.ac-trigger.active {
    color: #ffc5c5;
    border: none;
    box-shadow: 0 0 10px rgba(237, 59, 68, 0.5), 0 0 20px rgba(237, 59, 68, 0.3); 
}
button.btn-answer.ac-trigger:hover svg,
button.btn-answer.ac-trigger.active svg {
    stroke: rgba(237, 59, 68, 0.6);
}

.button.btn-answer.ac-trigger:focus.title-item-list {
    color: #ffc5c5;
}

.title-item-list.ac-header.open {
    color: #ffc5c5;
}

.title-faq {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
        letter-spacing: -0.02em;
        color: rgba(250, 250, 250, 0.4);
}

.faq-item:first-child {
    border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-item {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    background-color: #1c1d20;
    padding: 20px 0;
}

.faq-item:last-child {
    margin-bottom: 0;
}

.title-item-list {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    width: 265px;
    color: #fafafa;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.title-item-list.active {
    color:rgba(237, 59, 68, 0.6);
}

.questions {
    display: flex;
    justify-content: space-between;
}


p.text-item-list.ac-text.fq {
    font-family: 'Inter Tight', sans-serif;
    box-sizing: content-box;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    padding: 16px 0px 0px 0px;
}

.icon-answer {
    display: block;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    fill: none;
    stroke: #fafafa;
}

.ac.icon-open {
    transform: rotate(180deg);
}

.is-active .icon-answer {
    transform: rotate(180deg);
}

div.ac-panel {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Tablet */

@media screen and (min-width: 768px) {
    .title-item-list {
        width: 485px;
    }

    .text-item-list {
        width: 656px;
        padding-top: 26px;
    }

    .faq-item {
        padding: 32px 0 24px 0;
    }
}

/* Laptop */

@media screen and (min-width: 1440px) {
    .faq-list.accordion-container {
        flex-direction: row;
    }
    .faq-item {
        padding: 32px 0 26px 0;
    }

    .faq-list {
        display: flex;
        flex-wrap: wrap;
    }

    .faq-list li:nth-child(1) {
        order: 1;
        border-bottom: none;
        border-right: 1px solid rgba(250, 250, 250, 0.2);
        padding-right: 31.5px;
    }

    .faq-list li:nth-child(2) {
        order: 3;
        border-bottom: none;
        border-right: 1px solid rgba(250, 250, 250, 0.2);
        padding-right: 31.5px;
    }

    .faq-list li:nth-child(3) {
        order: 5;
        border-right: 1px solid rgba(250, 250, 250, 0.2);
        padding-right: 31.5px;
    }

    .faq-list li:nth-child(4) {
        order: 2;
        border-bottom: none;
        padding-left: 31.5px;
    }

    .faq-list li:nth-child(5) {
        order: 4;
        border-right: none;
        border-bottom: none;
        padding-left: 31.5px;
    }

    .faq-list li:nth-child(6) {
        order: 6;
        padding-left: 31.5px;
    }

    .faq-list li {
        flex-basis: calc((100% - 68px) / 2);
        box-sizing: border-box;
        border-bottom: 1px solid rgba(250, 250, 250, 0.2);
        border-top: 1px solid rgba(250, 250, 250, 0.2);
    }

    .faq-item:first-child {
        border-top: 1px solid rgba(250, 250, 250, 0.2);
    }
}

.ac .ac-panel {
    overflow: hidden;
    transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
