/* header */
header {
    position: absolute;
    width: 100%;
    background-color: transparent;
    padding-top: 32px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.icon-jefferson {
    fill: #FAFAFA;
}

.burger-btn {
    padding: 0;
    border: none;
    height: 28px;
    background-color: transparent;
}

.burger-icon {
    display: block;
    stroke: #FAFAFA;
}

.order-nav {
    display: none;
}

.menu-btn {
    display: none;
}

.nav-list {
    display: none;
}

@media screen and (min-width: 768px) {
    header {
        padding-top: 32px;
    }

    .burger-icon {
        display: none;
    }

    .burger-btn {
        display: none;
    }

    .order-nav {
        display: flex;
        align-items: center;
        height: 55px;
        width: 163px;
        background-color: #ED3B44;
        color: #FAFAFA;
        border: none;
        border-radius: 60px;
        padding: 18px 24px;
        font-weight: 500;

        transform: all 300 ms ease;
    }

    .order-nav:hover,
    .order-nav:focus {
        background-color: #E0373F;
    }

    .menu-btn {
        position: relative;
        display: block;
        padding: 0;
        border: none;
        background-color: transparent;
        color: #FAFAFA;
        font-weight: 500;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 18px;

        transition: color 300ms ease;
    }

    .menu-btn:hover,
    .menu-btn:focus {
        color: #ED3B44;
    }

    .menu-btn::after {
        position: absolute;
        bottom: -3px;
        display: block;
        content: '';
        height: 1.5px;
        width: 100%;
        background-color: #FAFAFA;

        transition: background-color 300ms ease;
    }

    .menu-btn:hover::after,
    .menu-btn:focus::after {
        position: absolute;
        bottom: -3px;
        display: block;
        content: '';
        height: 1.5px;
        width: 100%;
        background-color: #ED3B44;
    }

    .header-navigation {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav-list.is-open {
        display: flex;
        position: absolute;
        width: 67px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        top: 42px;
    }

    .nav-link {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        color: #FAFAFA;

        transition: color 300ms ease;
    }

    .nav-link:hover,
    .nav-link:focus {
        color: #ED3B44;
    }
}

/*Mobile menu*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 0.3s ease,
        visibility 0.3s ease;
}

/* Відкритий стан меню */
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Контейнер меню */
.mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 302px;
    padding-bottom: 64px;

    background-image: url(../img/img-mobile-menu.webp);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;


    transform: translateX(100%);
    transition: transform 300ms ease;
}

/* При відкритті меню */
.mobile-menu.is-open .mobile-menu-container {
    transform: translateY(0);
}

@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
    .mobile-menu-container {
        background-image: url(../img/img-mobile-menu@2x.webp);
    }
}

.mobile-close-btn {
    position: absolute;
    top: 32px;
    right: 16px;
    border: none;
    background-color: transparent;
    width: 28px;
    height: 28px;
    padding: 0;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.mobile-navigation-link {
    font-weight: 500;
    font-size: 16px;
    color: #FAFAFA;
    position: relative;

    transform: all 300ms ease;
}

.mobile-navigation-link:hover,
.mobile-navigation-link:focus {
    color: #ED3B44;
}

.mobile-navigation-link::after {
    position: absolute;
    bottom: -2px;
    display: block;
    content: '';
    height: 1.5px;
    width: 100%;
    border-radius: 50%;
    background-color: #FAFAFA;

    transform: all 300ms ease;
}

.mobile-navigation-link:hover::after,
.mobile-navigation-link:focus::after {
    background-color: #ED3B44;
}

.order-nav-mobile {
    display: flex;
    align-items: center;
    height: 45px;
    width: 164px;
    background-color: #ED3B44;
    color: #FAFAFA;
    border: none;
    border-radius: 60px;
    padding: 14px 31px;
    font-weight: 500;
    font-size: 14px;

    transform: all 300 ms ease;
}

.order-nav-mobile:hover,
.order-nav-mobile:focus {
    background-color: #E0373F;
}

.modal-close-icon {
    stroke: #FAFAFA;
}
